<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="cV">
            <h2><span jhiTranslate="blackcvApp.cV.detail.title">CV</span> {{cV.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="blackcvApp.cV.iD">I D</span></dt>
                <dd>
                    <span>{{cV.iD}}</span>
                </dd>
                <dt><span jhiTranslate="blackcvApp.cV.name">Name</span></dt>
                <dd>
                    <span>{{cV.name}}</span>
                </dd>
                <dt><span jhiTranslate="blackcvApp.cV.phone">Phone</span></dt>
                <dd>
                    <span>{{cV.phone}}</span>
                </dd>
                <dt><span jhiTranslate="blackcvApp.cV.email">Email</span></dt>
                <dd>
                    <span>{{cV.email}}</span>
                </dd>
                <dt><span jhiTranslate="blackcvApp.cV.address">Address</span></dt>
                <dd>
                    <span>{{cV.address}}</span>
                </dd>
                <dt><span jhiTranslate="blackcvApp.cV.job">Job</span></dt>
                <dd>
                    <span>{{cV.job}}</span>
                </dd>
                <dt><span jhiTranslate="blackcvApp.cV.avatar">Avatar</span></dt>
                <dd>
                    <span>{{cV.avatar}}</span>
                </dd>
                <dt><span jhiTranslate="blackcvApp.cV.fileUploadCV">File Upload CV</span></dt>
                <dd>
                    <span>{{cV.fileUploadCV}}</span>
                </dd>
                <dt><span jhiTranslate="blackcvApp.cV.createdBy">Created By</span></dt>
                <dd>
                    <span>{{cV.createdBy}}</span>
                </dd>
                <dt><span jhiTranslate="blackcvApp.cV.createdDate">Created Date</span></dt>
                <dd>
                    <span>{{cV.createdDate}}</span>
                </dd>
                <dt><span jhiTranslate="blackcvApp.cV.lastModifiedBy">Last Modified By</span></dt>
                <dd>
                    <span>{{cV.lastModifiedBy}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/cv', cV.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
